* { box-sizing: border-box; }
div { vertical-align: top; }

body {
  font-size: 0;
  font-family: 'Roboto Mono', monospace;
  margin: 20px;
  padding: 0;
  color: #202020;
  font-size: 18px;
  line-height: 1.6em;
}
a { color: #202020; }